.navbar {
    background-color: #439da0;
    color: #fff;
    padding: 1rem;
    /* width: 100%; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 1rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}
.navbar a:hover {
    text-decoration: underline;
}

.full-width {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}